<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FanPass</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/jass.css">
  <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <section class="hero is-info is-small">
  <div class="hero-body">
    <p class="title">
      FanPass
    </p>
    <p class="subtitle">
      The Last Great Music Blog
    </p>
        <nav class="navbar mt-2 is-link">
          <!-- If logged in navbar will display routes to Home, Dashboard, Create new post, and logout button -->
            {{#if loggedIn}}
            <div class="navbar-menu pl-3">
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/dashboard">
                                    <span class="icon">
                                        <i class="fa fa-tachometer-alt"></i>
                                    </span>
                                    <span>Dashboard</span>
                                </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/profile">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Profile</span>
                                </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/dashboard/create">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    <span>New Post</span>
                                </a>
              </span>
              
              <div class="navbar-end">
                <div class="navbar-item">
                  <button id="logout" class="button is-danger mr-3">Logout</button>
                </div>
                
              </div>
              
              
              {{!-- <button id="logout" class="button is-danger">Logout</button> --}}
              <!-- If not logged in navbar will only display route to Home, and Login button to /login -->
              {{else}}
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/about">
                                    <span class="icon">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                    <span>About Us</span>
                                </a>
              </span>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="/sign-up"class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
              <a href="/login"class="button is-light">
                Log in
              </a>
                </div>

              </div>
            </div>
          </div>
            {{/if}}
        </nav>
  </div>
</section>
    

    <main>
            {{{ body }}}
            
    </main>
</div>
<!---Footer--->
<div class="has-text-link-dark">
  <footer class="footer rows pb-1 has-background-info">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/" class="has-text-primary-light">Home</a>{{#if loggedIn}} | 
            <a href="/dashboard" class="has-text-primary-light">Dashboard</a> | 
            <a href="/profile/" class="has-text-primary-light">Profile</a>
            {{else}}
             | <a href="/login" class="has-text-primary-light">Login</a> |
              <a href="/about" class="has-text-primary-light">About FanPass</a>
            {{/if}}
            </p>
        </div>
      <div class="row-is-full content has-text-centered">
    <p>
      <strong>FanPass</strong> by <a href="https://github.com/samadams412" class="has-text-primary-light">Sam Adams</a> | Source Code:
      <a href="https://github.com/samadams412/fanPass"><i class="fab fa-github has-text-primary-light"></i></a>  |  
       <a href="mailto:samueladams412@gmail.com"><i class="far fa-envelope has-text-primary-light"></i></a>
    </p>
  </div>
    </footer>
  
</div>
    


{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}




</html>
