<div class="columns is-centered">
<div class="column is-6 mt-2">
    <div class='card'>
  <div class='card-content m-3'>
    <div class='content is-size-3 m-5 has-text-dark has-text-centered'>
      <strong>FanPass</strong> is a blog built by music fans, for music fans.
      <br />
      </div>
      <div class='content is-size-4 m-5 has-text-info has-text-centered'>
          It's a place for fans to get together and talk about music, from planning
      upcoming concerts to learning about current events related to your favorite
      artist, this is the place for you.
      <br />
      </div>
      <div class='content is-size-5 m-5 has-text-info has-text-centered'>
          FanPass is also a great place for music artists to make a custom fan page
      for themself or band and have the ability to share your latest news with
      your fans, newest merch available and offer links to concert presales.
      There is no greater way to offer exclusive offers directly to your
      greatest fans.
      <br />
      </div>
      <div class="content is-size-3 has-text-dark has-text-centered">
          <a href='/sign-up' class="content has-text-dark is-underlined">Join The Revolution.</a>
      </div>
    </div>
  </div>
  
</div>
</div>
