<div class='card'>
  <div class='card-content m-3'>
    <div class='content is-size-4 m-5 has-text-link has-text-centered'>
      FanPass is a blog built by music fans, for music fans.
      <br />
      It's a place for fans to get together to talk about music, from planning
      upcoming concerts to learning about current events about your favorite
      artist, this is the place for you.
      <br />
      FanPass is also a great place for music artists to make a custom fan page
      for themself or band and have the ability to share your latest news with
      your fans, newest merch available and offer links to concert presales.
      There is no greater way to offer exclusive offers directly to your
      greatest fans.
      <br />
      <br />
      <a href='/sign-up'>Join the revolution.</a>
    </div>
  </div>
</div>