<div class='card'>
  <div class='card-content'>
    <div class='content'>
      FanPass is a blog built by music fans, for music fans. It's a place for
      fans to get together to talk about music, from planning upcoming concerts
      to learning about current events about your favorite artist, this is the
      place for you. FanPass is also a great place for music artists to make a
      custom fan page for themself or band and have the ability to share your
      latest news with your fans, newest merch available and offer links to
      concert presales. There is no greater way to offer exclusive offers
      directly to your greatest fans. Join the revolution.
    </div>
  </div>
</div>