<div class='card'>
  <div class='card-content'>
    <div class='content'>
      FanPass is your number one stop for everything music related. Chat with
      like-minded friends FanPass is built by fans for fans
    </div>
  </div>
</div>