<div class='columns is-vcentered'>
  <form class='form signup-form'>
    <div class='column is-6 ml-6'>
      <h2 class='title is-1 is-spaced'>Signup</h2>
      <div class='field'>

        <div class='form-group'>
          <label for='name-signup'>Username:</label>
          <div class='control has-icons-right'>
            <input
              class='input'
              id='name-signup'
              type='text'
              placeholder='Username'
            />
            <span class='icon is-small is-right'>
              <i class='fas fa-check fa-sm'></i>
            </span>
          </div>
        </div>

        <div class='form-group'>
          <label for='email-signup'>Email:</label>
          <div class='control has-icons-left'>
            <input
              class='input'
              id='email-signup'
              type='email'
              placeholder='ValidEmail@gmail.com'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-envelope fa-sm'></i>
            </span>
          </div>
        </div>

        <div class='form-group'>
          <label for='twitter-signup'>Twitter:</label>
          <div class='control has-icons-left'>
            <input
              class='input'
              id='twitter-signup'
              type='text'
              placeholder='Twitter Username'
            />
            <span class='icon is-small is-left'>
              <i class='fab fa-twitter fa-sm'></i>
            </span>
          </div>
        </div>

        <div class='form-group'>
          <label for='password-signup'>Password:</label>
          <div class='control has-icons-right'>
            <input
              class='form-input'
              type='password'
              id='password-signup'
              placeholder="'Password123@'"
            />
            <span class='icon is-right'>
              <i class='fas fa-check fa-sm'></i>
            </span>
          </div>
        </div>

        <div class='form-group'>
          <label for='password-signup-confirm'>Confirm Password:</label>
          <div class='control has-icons-right'>
            <input
              class='form-input'
              type='password'
              id='password-signup-confirm'
              placeholder="'Password123@'"
            />
            <span class='icon is-right'>
              <i class='fas fa-check fa-sm'></i>
            </span>
          </div>
        </div>

      </div>
    </div>

  </form>
  <form class='form signup-form-2'>
    <div class='column is-6'>

      <div class='form-group'>
        <div class='control has-icons-right'>
          <label for='interestOne' class=''>Favorite Artist/Band/Musician #1:</label>
          <input
            class='form-input input is-info is-small'
            type='text'
            id='interestOne'
            placeholder='ACDC'
          />
          <span class='icon is-right pt-5'>
            <i class='fas fa-music fa-lg'></i>
          </span>
        </div>
      </div>

      <div class='form-group'>
        <div class='control has-icons-right'>
          <label for='interestTwo'>Favorite Artist/Band/Musician #2:</label>
          <input
            class='form-input input is-info is-small'
            type='text'
            id='interestTwo'
            placeholder='Metallica'
          />
          <span class='icon is-right pt-5'>
            <i class='fas fa-headphones fa-lg'></i>
          </span>
        </div>
      </div>

      <div class='form-group'>
        <div class='control has-icons-right'>
          <label for='interestThree'>Favorite Artist/Band/Musician #3:</label>
          <input
            class='form-input input is-info is-small'
            type='text'
            id='interestThree'
            placeholder='Future'
          />
          <span class='icon is-right pt-5'>
            <i class='fas fa-drum fa-lg'></i>
          </span>
        </div>
      </div>

      <div class='form-group'>
        <div class='control has-icons-right'>
          <label for='interestFour'>Favorite Artist/Band/Musician #4:</label>
          <input
            class='form-input input is-info is-small'
            type='text'
            id='interestFour'
            placeholder='Pink Floyd'
          />
          <span class='icon is-right pt-5'>
            <i class='fas fa-headphones-alt fa-lg'></i>
          </span>
        </div>
      </div>

      <div class='form-group'>
        <div class='control has-icons-right'>
          <label for='interestFive'>Favorite Artist/Band/Musician #5:</label>
          <input
            class='form-input input is-info is-small'
            type='text'
            id='interestFive'
            placeholder='Doja Cat'
          />
          <span class='icon is-right pt-5'>
            <i class='fas fa-play fa-lg'></i>
          </span>
        </div>
      </div>

      <label class='checkbox'>
        <input type='checkbox' />
        I agree to the
        <a href='https://github.com/samadams412'>terms & conditions</a>
      </label>

      <div class='form-group'>
        <button class='button is-info' type='submit' id='signupBtn'>Sign Up</button>
      </div>

    </div>
  </form>
</div>

<script src='/javascript/sign-up.js'></script>