{{> post-info-dash post}}

{{#if loggedIn}}
<div class="column">
  <form class="comment-form">
  
    <input
        class="textarea is-small ml-2"
        name="comment-body"
        placeholder="insert comment here"
      />
    
  

  <div>
    <button class="button is-warning ml-5 mt-2" type="submit">Comment</button>
  </div>
  
</form>
</div>

{{/if}}
<div class="column">
  {{> comments post.comments}}
</div>


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}