.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: hsl(207, 61%, 53%);
  color: #fff;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.edit-post-form {
  margin-bottom: 5%;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

#myVideo {
  position: relative;
  min-width: 100%;
  max-height: 35%;
  z-index: 0;
}

#smallR {
  font-size: 3rem;
  position: inherit;
}

.centered {
  font-family: "Poiret One", cursive;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translate(-50%, -100%);
  color: aliceblue;
  text-shadow: 5px 5px darkred;
  line-height: 100px;
  font-weight: bolder;
  font-size: 12rem;
  z-index: +1;
  margin: 0%;
}

#titleIntro {
  margin: none;
  padding: none;
  z-index: -2;
  background-color: black;
}
#intro {
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
  opacity: 20%;
  margin: 0;
  padding: 20px;
  opacity: 90%;
  text-shadow: 1.5px 1.5px darkred;
  z-index: +1;
  margin-bottom: 10px;
  position: relative;
  top: -80px;
  line-height: 20px;
}

#searchBand {
  font-weight: bolder;
  color: royalblue;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

#ticketMaster {
  font-family: "Poiret One", cursive;
  display: inline;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1.5px 1.5px black;
}

#ticketMaster,
#youtube {
  border-radius: 15px;
  /* background-color: black; */
  font-family: "Poiret One", cursive;
}
.david,
.sam {
  /* border: 1px solid white;  for reference to display search data need to take out after API info is linked and displayed */
  width: 50%;
  height: 400px;
  display: inline;
  border-radius: 20%;
  margin: 10px;
}
/* body {
  background-image: url('./assets/album-art-collage.png');
} */

/* * {
    box-sizing: border-box;
  }
  
  
  body,
  html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-color: #ffffffc9;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    border: 0;
    padding: 1%;
    font-weight: bold;
    transition: background-color 0.1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea,
  input {
    padding: 0.5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #797777;
    color: #fff;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: 0.5%;
    opacity: 0.6;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #20348dd8;
  }
  
  .card {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  .rows {
    display: flex;
    flex-direction: column;
  } */
